<h1>My Blog Posts</h1>

<ol>
  <% @posts.each do |post| %>
  <li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
  <% end %>
</ol>

resources #=> What our application is exposing to the world view

"photos"

GET /photos #=> index, list all the photos
GET /photos/1 #=> show, show you a particular photo based on input

GET /photos/new #=> new, should present a form for new photos
POST /photos #=> create, should add a new photo to my application

GET /photos/1/edit #=> edit, should present a form to edit a photo
PUT /photos/1 #=> update, should update photo 1

DELETE /photos/1 #=> destroy, should delete photo 1

