<!-- forms are the heart of the internet
 envelope analogy
 ACTION is the address, where it's going
 ACTION is always going to be a url to where it's going
 METHOD is how it is going to get there -->

<style>
#post_title{
  border: 4px green solid;
}
</style>
  

<!-- the whole envelope is the form tag
 Trying to make a new blog post
 posts/new SUBMITS A POST REQUEST TO /posts -->

<form action="/posts" method="POST">
<!-- let's user type in form box if you click on the Title label
     for attribute must equal the id attribute 
     will allow the form to focus --> 
  <label for="post_title">Title</label>
<!-- use input controls to put data into the envelope -->
  <input type="text" name="the_name_of_the_input" id="post_title" />
<!-- 'name' tells where in params the input should go 
      every control has a name and a value -->
  <input type="submit" />  #create button to submit
</form>
