# forms are the heart of the internet
# envelope analogy
# ACTION is the address, where it's going
# ACTION is always going to be a url to where it's going
# METHOD is how it is going to get there

# the whole envelope is the form tag
<form action="/where the form is going" method="POST">



</form>
