# forms are the heart of the internet
# envelope analogy
# ACTION is the address, where it's going
# ACTION is always going to be a url to where it's going
# METHOD is how it is going to get there

# the whole envelope is the form tag
<form action="/whatever" method="POST">

  <input type="submit" />  #create button to submit
</form>
